<ion-list class="header">Internal Manufacturing</ion-list>
<ion-row class="row">
  <ion-col size="auto" >
    <span class="text">Date:</span> 01/01/2025
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="auto">
    <ion-label class="text2"> Weight Given by Makab</ion-label>
    <br>
    <ion-input type="number" class="input"></ion-input>
  </ion-col>
  <ion-col size="auto">
    <ion-label class="text2">Weight Received by Makab</ion-label>
    <br>
    <ion-textarea rows="1" class="input"></ion-textarea>
  </ion-col>
  <ion-col size="auto">
    <ion-label class="text2">Daily Loss</ion-label>
    <br>
    <ion-input type="number" class="input"></ion-input>
  </ion-col>
</ion-row>
<ion-list class="addmore">Add More</ion-list>
<ion-row>
  <ion-col size="6" class="ion-text-center ion-margin-top">
    <ion-button color="none">Save</ion-button>
  </ion-col>
</ion-row>