
<ion-list class="header">Cash and Gold Received </ion-list>

<ion-row class="row">
  <ion-col size="auto" >
    <span class="text">Date:</span> 01/01/2025
  </ion-col>
  <ion-col size="auto" class="ion-margin-start">
    <span class="text">Sr.No.:</span> 01/01/2025
  </ion-col>
  <ion-col size="auto" class="ion-margin-start">
    <span class="text">Customer Name:</span> Asif
  </ion-col>
  <ion-col size="auto" class="ion-margin-start">
    <span class="text">Shop Name:</span> Farid Mobile
  </ion-col>
</ion-row>

  <ion-row>
   <ion-col size="8">
    <ion-row>
      <ion-col size="auto">
        <ion-label class="text2"> Weight</ion-label><span class="text3">(Grams)</span>
        <br>
        <ion-input type="number" class="input"></ion-input>
      </ion-col>
      <ion-col size="auto" class="ion-margin-start">
        <ion-label class="text2">Carat</ion-label>
        <br>
        <ion-select class="carat" placeholder="----------------" interface="popover">
          <ion-select-option value="18k">18k</ion-select-option>
          <ion-select-option value="21k">21k</ion-select-option>
          <ion-select-option value="22k">22k</ion-select-option>
          <ion-select-option value="24k">24k</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="auto" class="ion-margin-start">
        <ion-label class="text2"> Final Gold</ion-label><span class="text3">(21k)</span>
        <br>
        <ion-input type="number" class="input"></ion-input>
      </ion-col>
      <ion-col size="auto" class="ion-margin-start">
        <ion-label class="text2"> Cash Received</ion-label>
        <br>
        <ion-input type="number" class="input"></ion-input>
      </ion-col>
      <ion-col size="auto" class="ion-margin-start">
        <ion-label class="text2">Payment Mode</ion-label>
        <br>
        <ion-select class="carat" placeholder="----------------" interface="popover">
          <ion-select-option value="18k">Cash</ion-select-option>
          <ion-select-option value="21k">Card</ion-select-option>
        </ion-select>
      </ion-col>
    
       <ion-col size="12">
        <ion-list class="text4">Description</ion-list>
        <ion-textarea rows="2"></ion-textarea>
        <ion-list class="addmore">
          Add More
        </ion-list>
       </ion-col>
      
       <ion-row>
        <ion-col size="6">
          <ion-label>Total Gold Received :</ion-label>
          <span>00</span>
        </ion-col>
        <ion-col size="6">
          <ion-label>Total Amount Received:</ion-label>
          <span>00</span>
        </ion-col>
        <ion-col size="8" class="ion-text-center ion-margin-top">
          <ion-button color="none">
            Save
          </ion-button>
        </ion-col>
       </ion-row>
         
  
    </ion-row>
   </ion-col>
   
    <ion-col size="3">
      <ion-row class="ion-justify-content-between col3">
        <ion-col size-sm="auto" size-md="5">
          <ion-row>
            <ion-list class="col">
              18k (750)
            </ion-list>
            <ion-list class="col">
              21k (875)
            </ion-list>
            <ion-list class="col">
              22k (916)
            </ion-list>
            <ion-list class="col">
              24k (999)
            </ion-list>
          </ion-row>
        </ion-col>
        <ion-col size-sm="auto" size-md="5">
          <ion-row>
            <ion-list class="col">
              Cash
            </ion-list>
            <ion-list class="col">
              Bank Alahli
            </ion-list>
            <ion-list class="col">
              Bank Alinma
            </ion-list>
            <ion-list class="col">
              Discount
            </ion-list>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>