<ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Add Images & Description</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-button (click)="presentActionSheet()" class="add-images-btn">
        <ion-icon name="camera" slot="start"></ion-icon>
        Add Images
      </ion-button>
      
      
      <div class="image-container">
      
        <div *ngFor="let img of selectedImages; let i = index" class="image-item">
          <img [src]="img" alt="selected image" />
        
          <div class="remove-icon" (click)="removeImage(i)">
            <ion-icon name="close" style="color: red; font-size: 24px;"></ion-icon>
          </div>
        </div>
      </div>
      

      <ion-textarea
        placeholder="Enter description"
        [(ngModel)]="description"
        rows="5"
        class="description-box"
      ></ion-textarea>

      <ion-button expand="block" (click)="generateAndSharePDF()" class="share-btn">
        <ion-icon name="share-social" slot="start"></ion-icon> Share
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
